/* Universal and Body tags */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Font Families */
header, footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav, aside, section {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header and Nav */
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Background Picture */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Main/Aside Shared Tags */
p {
    font-size: 16px;
}

section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Main Section */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

main h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

main img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

#online-reputation-management img {
    float: right;
    margin-left: 25px;
    margin-right: 0px;
}

/* Aside Section */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}    

h3 {
    margin-bottom: 10px;
    text-align: center;
}    

aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}    

/* Footer */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}